/* line 6, ../sass/screen.scss */
html, body {
  font-size: 20px;
}

/* line 10, ../sass/screen.scss */
body {
  margin: 0px;
  font-family: arial;
}

/* line 14, ../sass/screen.scss */
.fix-top {
  position: fixed;
  z-index: 300;
  width: 80%;
  margin: auto;
}

/* line 20, ../sass/screen.scss */
header {
  width: 80%;
  margin: auto;
}

/* line 24, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 27, ../sass/screen.scss */
nav {
  height: 55px;
}
/* line 29, ../sass/screen.scss */
nav ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
/* line 36, ../sass/screen.scss */
nav ul li {
  padding-top: 10px;
  margin-left: 40px;
}
/* line 39, ../sass/screen.scss */
nav ul li:nth-child(1) {
  margin-left: 30px;
}
/* line 42, ../sass/screen.scss */
nav ul li a {
  color: #979797;
  font-size: 15px;
}
/* line 46, ../sass/screen.scss */
nav ul li a:hover {
  color: #585858;
}

/* line 55, ../sass/screen.scss */
.nav_btn_center {
  width: 45px;
  height: 40px;
  background: black;
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  padding-top: 5px;
}

/* line 69, ../sass/screen.scss */
.wrap_head {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 90%;
  padding-bottom: 400px;
}
/* line 75, ../sass/screen.scss */
.wrap_head h1 {
  font-size: 45px;
  font-weight: lighter;
  text-align: center;
  color: #1e1e1e;
  align-self: center;
  margin: 0px;
  margin-top: 300px;
  margin-bottom: 5px;
}
/* line 85, ../sass/screen.scss */
.wrap_head p {
  font-size: 16px;
  color: #979797;
  align-self: center;
  text-align: center;
  margin: 0px;
}
/* line 92, ../sass/screen.scss */
.wrap_head a {
  color: #1e1e1e;
  height: 60px;
  width: 190px;
  margin-top: 50px;
  padding-top: 20px;
  border: 2px solid #1e1e1e;
  align-self: center;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  box-sizing: border-box;
}

/* line 107, ../sass/screen.scss */
#about {
  height: 100%;
  background: url("../img/about.jpg") no-repeat top/cover;
  padding-top: 40px;
}

/* line 113, ../sass/screen.scss */
.wrap_about {
  width: 80%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* line 125, ../sass/screen.scss */
.el_about {
  align-self: center;
  list-style: none;
}
/* line 128, ../sass/screen.scss */
.el_about h2 {
  color: white;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 1rem;
}
/* line 134, ../sass/screen.scss */
.el_about p {
  color: #979797;
  font-size: 15px;
}

/* line 139, ../sass/screen.scss */
.el_left {
  margin-left: -24rem;
}
/* line 141, ../sass/screen.scss */
.el_left h2 {
  margin-left: 12rem;
}

/* line 145, ../sass/screen.scss */
.el_right {
  margin-left: 24rem;
  margin-bottom: 1rem;
}

/* line 149, ../sass/screen.scss */
.el_right:last-child {
  margin-top: 100px;
  margin-bottom: 430px;
}

/* line 156, ../sass/screen.scss */
#teams {
  width: 80%;
  margin: auto;
  margin-bottom: 100px;
  padding-top: 70px;
}

/* line 163, ../sass/screen.scss */
.wrap_teams_head {
  text-align: center;
}
/* line 165, ../sass/screen.scss */
.wrap_teams_head h2 {
  font-weight: 100;
  color: #585858;
  margin-bottom: 0px;
}
/* line 170, ../sass/screen.scss */
.wrap_teams_head p {
  font-weight: 100;
  color: #979797;
  margin: 0px;
}

/* line 176, ../sass/screen.scss */
.wrap_cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 120px;
  text-align: center;
}
/* line 182, ../sass/screen.scss */
.wrap_cart .frame {
  margin-left: 260px;
}
/* line 184, ../sass/screen.scss */
.wrap_cart .frame:nth-child(1) {
  margin-left: 10px;
  margin-top: 120px;
}
/* line 188, ../sass/screen.scss */
.wrap_cart .frame:last-child {
  margin-top: 120px;
}
/* line 192, ../sass/screen.scss */
.wrap_cart h3 {
  color: #585858;
}
/* line 195, ../sass/screen.scss */
.wrap_cart p {
  color: #979797;
}

/* line 201, ../sass/screen.scss */
#servise {
  height: 100%;
  width: 100%;
  background: url("../img/bg_servise.png") no-repeat center/cover;
  padding-top: 250px;
  padding-bottom: 350px;
}

/* line 208, ../sass/screen.scss */
.wrap_servise_head {
  text-align: center;
}
/* line 210, ../sass/screen.scss */
.wrap_servise_head h2 {
  font-size: 35px;
  color: white;
  margin: 0px;
}
/* line 215, ../sass/screen.scss */
.wrap_servise_head p {
  font-size: 16px;
  color: #585858;
  margin: 0px;
}

/* line 221, ../sass/screen.scss */
.wrap_servise_cards {
  width: 80%;
  margin: auto;
  margin-top: 210px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* line 228, ../sass/screen.scss */
.wrap_servise_cards .frame {
  margin-left: 240px;
  min-width: 250px;
  text-align: center;
}
/* line 232, ../sass/screen.scss */
.wrap_servise_cards .frame:nth-child(1) {
  margin-left: 0px;
}
/* line 235, ../sass/screen.scss */
.wrap_servise_cards .frame h3 {
  font-size: 25px;
  font-weight: lighter;
  color: white;
}
/* line 240, ../sass/screen.scss */
.wrap_servise_cards .frame p {
  font-size: 14px;
  color: #585858;
}

/* line 246, ../sass/screen.scss */
.wrap_servise_btn {
  margin-top: 290px;
  display: flex;
  justify-content: center;
}

/* line 251, ../sass/screen.scss */
.servise_btn {
  height: 60px;
  width: 250px;
  margin: auto;
  padding: 20px 40px;
  color: #1e1e1e;
  background: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  box-sizing: border-box;
  border: 2px solid #1e1e1e;
  transition: all .3s;
}
/* line 264, ../sass/screen.scss */
.servise_btn:hover {
  border: 2px solid white;
  color: white;
  background: #1e1e1e;
}

/* line 271, ../sass/screen.scss */
footer {
  width: 80%;
  margin: auto;
}

/* line 275, ../sass/screen.scss */
.wrap_contact_head {
  text-align: center;
  padding-top: 60px;
}
/* line 278, ../sass/screen.scss */
.wrap_contact_head h2 {
  margin: 0px;
  font-weight: 400;
  color: #1e1e1e;
}
/* line 283, ../sass/screen.scss */
.wrap_contact_head p {
  margin: 0px;
  color: #979797;
}

/* line 288, ../sass/screen.scss */
.wrap_form {
  margin-top: 140px;
}
/* line 290, ../sass/screen.scss */
.wrap_form form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin: auto;
  text-align: center;
}
/* line 298, ../sass/screen.scss */
.wrap_form form input {
  text-align: center;
  height: 45px;
  margin-bottom: 20px;
}
/* line 303, ../sass/screen.scss */
.wrap_form form button {
  height: 50px;
  background: #1e1e1e;
  border: 2px solid #1e1e1e;
  color: white;
  font-size: 17px;
  font-weight: bold;
  padding-top: 5px;
}

/* line 314, ../sass/screen.scss */
.wrap_icon {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

/* line 322, ../sass/screen.scss */
.frame_icon {
  align-self: center;
  margin-left: 80px;
}
/* line 326, ../sass/screen.scss */
.frame_icon p {
  margin-top: 7px;
}

/* line 333, ../sass/screen.scss */
.wrap_end {
  margin-top: 145px;
  margin-bottom: 55px;
  text-align: center;
  color: #585858;
  font-size: 14px;
}

@media (max-width: 1460px) {
  /* line 343, ../sass/screen.scss */
  .wrap_servise_btn {
    margin-top: 90px;
  }
}
@media (max-width: 1400px) {
  /* line 349, ../sass/screen.scss */
  .wrap_servise_cards .frame {
    margin-left: 130px;
  }
}
@media (max-width: 1200px) {
  /* line 354, ../sass/screen.scss */
  .wrap_servise_cards .frame {
    margin-left: 80px;
  }
}
@media (max-width: 1100px) {
  /* line 359, ../sass/screen.scss */
  .wrap_servise_cards .frame {
    margin-left: 40px;
  }

  /* line 362, ../sass/screen.scss */
  .wrap_cart .frame {
    margin-left: 200px;
  }
}
@media (max-width: 1000px) {
  /* line 367, ../sass/screen.scss */
  .wrap_servise_cards {
    flex-direction: column;
  }

  /* line 370, ../sass/screen.scss */
  .wrap_servise_cards .frame {
    margin-top: 30px;
    margin-left: 0px;
  }

  /* line 374, ../sass/screen.scss */
  .wrap_cart .frame {
    margin: 0px;
    margin-bottom: 100px;
  }

  /* line 378, ../sass/screen.scss */
  .wrap_cart .frame img {
    width: 170px;
  }

  /* line 381, ../sass/screen.scss */
  .wrap_cart .frame:last-child {
    margin-top: 0px;
  }

  /* line 384, ../sass/screen.scss */
  .wrap_cart .frame:nth-child(1) {
    margin-left: 0px;
    margin-top: 120px;
  }

  /* line 388, ../sass/screen.scss */
  .wrap_cart {
    flex-direction: column;
  }

  /* line 391, ../sass/screen.scss */
  .wrap_icon {
    flex-direction: column;
  }

  /* line 394, ../sass/screen.scss */
  .frame_icon {
    margin-left: 0px;
    margin-bottom: 60px;
  }
  /* line 397, ../sass/screen.scss */
  .frame_icon:nth-child(3) {
    margin-bottom: 0px;
  }

  /* line 401, ../sass/screen.scss */
  .el_right {
    margin-left: 23rem;
  }
}
@media (max-width: 950px) {
  /* line 408, ../sass/screen.scss */
  .el_right {
    margin-left: 21rem;
  }
}
@media (max-width: 850px) {
  /* line 413, ../sass/screen.scss */
  .el_right {
    margin-left: 20rem;
  }
}
@media (max-width: 800px) {
  /* line 418, ../sass/screen.scss */
  .el_right {
    margin-left: 19rem;
  }

  /* line 421, ../sass/screen.scss */
  header {
    width: 100%;
  }

  /* line 424, ../sass/screen.scss */
  nav {
    height: 100%;
  }
  /* line 426, ../sass/screen.scss */
  nav ul {
    flex-direction: column;
    height: 100%;
  }
  /* line 429, ../sass/screen.scss */
  nav ul li {
    margin: 0px;
    margin-top: 30px;
    margin-left: 10px;
  }
  /* line 434, ../sass/screen.scss */
  nav ul li:nth-child(1) {
    margin-top: 0px;
    margin-left: 10px;
  }

  /* line 442, ../sass/screen.scss */
  .fix-top {
    width: 55px;
  }
}
@media (max-width: 750px) {
  /* line 449, ../sass/screen.scss */
  #about {
    background: #1d1d1d;
  }

  /* line 452, ../sass/screen.scss */
  .wrap_about {
    width: 100%;
  }

  /* line 455, ../sass/screen.scss */
  .el_about, .el_left, .el_right {
    margin: 20px;
  }

  /* line 458, ../sass/screen.scss */
  .el_right:last-child {
    margin-top: 20px;
    margin-bottom: 100px;
  }
}
